body {
	background-color: white;	
	padding-top: 60px;
	background-color: white;
}

h2 {
	margin-top: -20px;
}

.submit {
	margin-top: 20px;
	width : 100%;
}

li {
    margin: 0;
    margin-bottom: 5px;	
}

.page-header {
	margin: 0;
}

.banner {
	margin-bottom: 30px;
	height: 80px;
	padding: 30px;
	background-color: black;
	border-bottom: 2px grey solid;
}

.banner h1 {
	margin: 0;
	padding: 20px;
	color: lightblue;
}

.banner form {
	margin-top: 30px;
}


.hero-unit {
	padding: 50px;
	padding-left: 30px;
}

.hero-unit p {
	font-size: 15px;
}

.sidebar {
}

.sidebar form {
	padding-top: 10px;
}

.sidebar input {
    width: 100%;
    margin-left: -5px;
}

.sidebar input[type="submit"] {
    margin-bottom: -20px;
}

.party-list td {
	font-size: 10px;
}

.labelForm {
	color: #008FC7;
	cursor: default;
	margin-top: 10px;
}

.bottom-form{
	margin-top: 20px;
	margin-bottom: 10px;
}

.annuler {
	margin-left: 20px;
}

.labelPriorite {
	margin-top: 30px;
	margin-left: 5px;
}